@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: white;
  --drop-shadow-color: black;
  --drop-shadow-displacement: 2px 2px;
  overflow-x: hidden;
  overflow-y: hidden
}

body {
  color:var(--text-color);

  .drop-shadow{
    filter: drop-shadow(var(--drop-shadow-color) var(--drop-shadow-displacement));
  }

  .heading{
    border-bottom: white 2px solid;
    font-weight: bold;
    text-align: center;
    font-size:  1.5rem;
    line-height: 2rem;
  }
  .pda{
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 66px;
    transform: translateX(-50%);
  }
  .pda-margin
{
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-49%);
  width: 365px;
  height: 525px
}
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
