@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: white;
  --drop-shadow-color: black;
  --drop-shadow-displacement: -2px -2px;
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
